<div class="post row">
  <div class="medium-4 large-2 columns">
    <img src="{{data.thumbnail}}" alt="" class="post__thumbnail">
  </div>
  <div class="medium-8 large-10 columns">
    <div class="post__title"><a href="{{data.url}}">{{data.title}}</a></div>
    <div class="post__meta">
      <a href="http://reddit.com/u/{{data.author}}">{{data.author}}</a>
      | {{data.subreddit}}
    </div>
  </div>
</div>